<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center">
					<i class="fa-solid fa-circle-check fa-5x text-success"></i>
					<p class="fs-3">Order Placed Successfully</p>
					<p class="fs-4">Order Will be delivered with in 7 days</p>
					<div class="text-center">
						<a class="btn btn-primary" href="/">Home</a>
						<a class="btn btn-primary" href="/user/user-orders">Your Order</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>